Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2018-02, with the labels that each got.

#2667 Clarify import wizard headers.
  src/Gui/RideImportWizard.cpp
Labels: P3

#2785 Update Translation DE - Part 2
  src/Resources/translations/gc_de.ts
Labels: translation

#2760 Cosmetic fix for search box icon on OSX
  src/Gui/SearchBox.cpp
Labels: P3, gui / cosmetic error
