Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2019-01, with the labels that each got.

#2968 PythonConsole: Print expression value when executing simple statements
  src/Charts/PythonChart.cpp
  src/Python/PythonEmbed.cpp
  src/Python/PythonEmbed.h
Labels: gui / workflow request

#2990 Allow precise adjustment of the time slider with a keyboard.
  src/Gui/MergeActivityWizard.cpp
Labels: P2, gui / workflow request

#3000 Update Translation DE
  src/Resources/translations/gc_de.ts
Labels: translation

#3003 Add XDG categories
  travis/linux/deploy.sh
Labels: CI, build
