Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2019-05, with the labels that each got.

#3064 Issue 3057 virtualcalc produces na n on steep hills
  src/Core/BlinnSolver.cpp
  src/Core/BlinnSolver.h
  src/Train/NullController.cpp
  src/Train/PhysicsUtility.cpp
  src/Train/PhysicsUtility.h
  src/Train/TrainSidebar.cpp
  src/src.pro
Labels: P2, metrics error

#3087 Add Banister and Performance for Running Power
  src/Charts/LTMPlot.cpp
  src/Charts/LTMTool.cpp
  src/Charts/LTMTool.h
  src/Metrics/Banister.cpp
  src/Metrics/Banister.h
  src/Metrics/Estimator.cpp
  src/Metrics/Estimator.h
  test/charts/Banister (Run).gchart
Labels: P1, multisport

#3098 Update LeftRightBalance.cpp
  src/Metrics/LeftRightBalance.cpp
Labels: P3, metrics request

#3101 Added Time Recording and use it for Time in Zone Percentages
  src/Charts/LTMPopup.cpp
  src/Charts/RideSummaryWindow.cpp
  src/Metrics/BasicRideMetrics.cpp
  src/Metrics/HrTimeInZone.cpp
  src/Metrics/PaceTimeInZone.cpp
  src/Metrics/RideMetric.cpp
  src/Metrics/TimeInZone.cpp
Labels: P2, metrics request

#3104 Update AvgLTE, AvgRTE, AvgLPS, and AvgRPS in BasicRideMetrics.cpp
  src/Metrics/BasicRideMetrics.cpp
Labels: P3, metrics request

#3092 Raise slope limit to +-40.
  src/Train/TrainSidebar.cpp
  src/Train/WorkoutWizard.cpp
Labels: P3, device support request, metrics request
