Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2020-06, with the labels that each got.

#3430 BT40: add support for Tacx's ANT over BLE to set gradient
  src/Train/BT40Controller.cpp
  src/Train/BT40Controller.h
  src/Train/BT40Device.cpp
  src/Train/BT40Device.h
Labels: P1, function request, training view

#3435 ErgFile: fix distance precision issues
  src/Train/ErgFile.cpp
Labels: P3, file format error, training view

#3456 Fix incorrect speed (halved) on BT40
  src/Train/BT40Device.cpp
  src/Train/BT40Device.h
Labels: P2, device support error, training view

#3516 Update Russian translation
  src/Resources/translations/gc_ru.ts
Labels: translation

#3410 Support Custom Virtual Power Curve
  src/Core/BlinnSolver.cpp
  src/Core/BlinnSolver.h
  src/Core/Settings.h
  src/FileIO/LocationInterpolation.cpp
  src/Gui/Pages.cpp
  src/Train/AddDeviceWizard.cpp
  src/Train/AddDeviceWizard.h
  src/Train/DeviceConfiguration.cpp
  src/Train/DeviceConfiguration.h
  src/Train/MultiRegressionizer.h
  src/Train/PolynomialRegression.cpp
  src/Train/PolynomialRegression.h
  src/Train/RealtimeController.cpp
  src/Train/RealtimeController.h
  src/src.pro
Labels: P1, configuration, training view

#3515 Add control to Video Player to select among several Meter Widget layouts
  src/Core/Context.h
  src/Resources/xml/video-layout.xml
  src/Train/VideoLayoutParser.cpp
  src/Train/VideoLayoutParser.h
  src/Train/VideoWindow.cpp
  src/Train/VideoWindow.h
Labels: P2, gui / workflow request, training view

#3518 Make BicycleSim setting page translatable
  src/Gui/Pages.cpp
  src/Gui/Pages.h
Labels: translation

#3469 Additional file types for RideFile and VideoSyncFile
  src/Train/ErgFile.cpp
  src/Train/ErgFile.h
  src/Train/VideoSyncFile.cpp
  src/Train/VideoSyncFile.h
Labels: P2, file format request, training view

#3517 VirtualPowerTable: sort remove empty rows
  src/Train/AddDeviceWizard.cpp
Labels: P3, gui / workflow request, training view

#3519 Update Russian translation
  src/Resources/translations/gc_ru.ts
Labels: translation

#3520 Add EPM - Ergo Planet Movie format import
  src/FileIO/EpmParser.cpp
  src/FileIO/EpmParser.h
  src/FileIO/EpmRideFile.cpp
  src/FileIO/EpmRideFile.h
  src/src.pro
Labels: P2, file format request, training view

#3506 Allow Text meter widgets to be of same size and well aligned
  src/Train/MeterWidget.cpp
  src/Train/MeterWidget.h
  src/Train/VideoLayoutParser.cpp
  src/Train/VideoLayoutParser.h
  src/Train/VideoWindow.cpp
Labels: P3, gui / cosmetic error, training view

#3522 Russian translation update
  src/Resources/translations/gc_ru.ts
Labels: translation
