Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2020-02, with the labels that each got.

#3284 Issue 3283: Use tangent vector to compute interpolated grade.
  src/Core/BlinnSolver.cpp
  src/FileIO/FixGPS.cpp
  src/FileIO/LocationInterpolation.cpp
  src/FileIO/LocationInterpolation.h
  src/Gui/MergeActivityWizard.cpp
  src/Train/ErgFile.cpp
  src/Train/ErgFile.h
  src/Train/TrainSidebar.cpp
Labels: P2, feature request, training view

#3263 Issue 3261: Implement kinetic energy simulation
  src/Core/Settings.h
  src/Gui/ConfigDialog.cpp
  src/Gui/ConfigDialog.h
  src/Gui/Pages.cpp
  src/Gui/Pages.h
  src/Train/BicycleSim.cpp
  src/Train/BicycleSim.h
  src/Train/NullController.cpp
  src/Train/NullController.h
  src/Train/PhysicsUtility.cpp
  src/Train/PhysicsUtility.h
  src/Train/TrainSidebar.cpp
  src/Train/TrainSidebar.h
  src/src.pro
Labels: P1, feature request, training view

#3173 Add support for VO2 measurements and VMPro By VO2Masters
  src/FileIO/CsvRideFile.cpp
  src/Train/BT40Controller.cpp
  src/Train/BT40Controller.h
  src/Train/BT40Device.cpp
  src/Train/BT40Device.h
  src/Train/DialWindow.cpp
  src/Train/RealtimeController.h
  src/Train/RealtimeData.cpp
  src/Train/RealtimeData.h
  src/Train/TrainSidebar.cpp
  src/Train/TrainSidebar.h
  src/Train/VMProConfigurator.cpp
  src/Train/VMProConfigurator.h
  src/Train/VMProWidget.cpp
  src/Train/VMProWidget.h
  src/src.pro
  test/rides/2020_02_03_09_42_51.vo2
Labels: P1, device support request

#3339 CloudDB - Chart Upload
  src/Charts/GoldenCheetah.cpp
Labels: P2, cloud

#3346 Trainmode must honor slope unless ergfile opts out.
  src/Train/ErgFile.cpp
  src/Train/ErgFile.h
  src/Train/TrainSidebar.cpp
Labels: P3, bug, training view

#3317 Support Multisport Fit Files
  src/FileIO/FitRideFile.cpp
  src/FileIO/FitRideFile.h
  src/FileIO/RideFile.h
Labels: P1, file format request, multisport

#3354 Allow TTS Files for VideoSync.
  src/FileIO/LocationInterpolation.cpp
  src/FileIO/LocationInterpolation.h
  src/FileIO/TTSReader.cpp
  src/FileIO/TTSReader.h
  src/Train/ErgFile.cpp
  src/Train/VideoSyncFile.cpp
  src/Train/VideoSyncFile.h
Labels: file format error, training view

#3352 Remove CRS_LOC
  src/Metrics/WPrime.cpp
  src/Train/ErgFile.cpp
  src/Train/ErgFile.h
  src/Train/ErgFilePlot.cpp
  src/Train/TrainSidebar.cpp
  src/Train/VideoWindow.cpp
  src/Train/WorkoutWidget.cpp
Labels: file format error, training view
