Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2021-11, with the labels that each got.

#4059 Update Japanese translation
  src/Resources/translations/gc_ja.ts
Labels: translation, P3

#4071 Fix font issue under Windows 10.
  src/Gui/ChartSpace.cpp
Labels: gui / cosmetic error, platform support error, P3

#4086 Update Japanese Translation
  src/Resources/translations/gc_ja.ts
Labels: translation

#3113 Workout: Only scale on Ctrl+mouse wheel
  src/Train/WorkoutWidget.cpp
Labels: gui / cosmetic error, P3
