Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2021-04, with the labels that each got.

#3858 Add Polarized option to ZoneOverviewItem
  src/Charts/Overview.cpp
  src/Charts/OverviewItems.cpp
  src/Charts/OverviewItems.h
Labels: P3, chart type request

#3863 Add "Ramp" qName to ZwiftParser
  src/Train/ZwoParser.cpp
Labels: P3, feature request, training view

#3851 New Map Chart Menu options
  src/Charts/RideMapWindow.cpp
  src/Charts/RideMapWindow.h
Labels: P3, chart type request

#3855 Facility to trace all the USB communications
  src/Core/main.cpp
  src/Train/LibUsb.cpp
Labels: P3, device support request

#3860 Read EPOC from Garmin FIT file
  src/FileIO/FitRideFile.cpp
  src/Resources/xml/metadata.xml
Labels: P3, device support request, file format request

#3869 Enable SportTracks debug as a runtime option
  src/Cloud/SportTracks.cpp
Labels: P3, cloud, configuration

#3872 Correcting bug with quote character in workout Textevents and ZWO export
  src/Train/ErgFile.cpp
Labels: P3, file format error, training view

#3877 Update FitRideFile.cpp
  src/FileIO/FitRideFile.cpp
Labels: P3, device support request
