Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2022-02, with the labels that each got.

#4154 src/Charts/PythonChart.cpp: allow LocalContentCanAccessRemoteUrls
  src/Charts/PythonChart.cpp
Labels: P3, API error

#4171 Improved Chinese translation
  src/Resources/translations/gc_zh-cn.ts
Labels: translation

#4174 Russian translation update
  src/Resources/translations/gc_ru.ts
Labels: translation

#4178 Cloud: include "Secrets.h" in Nolio.cpp
  src/Cloud/Nolio.cpp
Labels: build error, cloud
