Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2023-01, with the labels that each got.

#4307 Estimates and Performances - Generalize to any sport with power data
  src/Charts/LTMPlot.cpp
  src/Core/Athlete.cpp
  src/Core/Athlete.h
  src/Core/DataFilter.cpp
  src/FileIO/RideFileCache.cpp
  src/FileIO/RideFileCache.h
  src/Metrics/Banister.cpp
  src/Metrics/Banister.h
  src/Metrics/Estimator.cpp
  src/Metrics/Estimator.h
  src/Metrics/PDModel.h
Labels: metrics request, P2

#4319 collect R-R data from gramin HRM swim
  src/FileIO/FitRideFile.cpp
Labels: file format request, P2

#4315 Update sport list and sub sports
  src/FileIO/FitRideFile.cpp
Labels: file format request, P3

#4322 Update Spanish translation
  src/Resources/translations/gc_es.ts
Labels: translation
