Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2024-07, with the labels that each got.

#4518 Metadata tile initial creation update fix and time & date field support
  src/Charts/OverviewItems.cpp
  src/Gui/AddTileWizard.cpp
Labels: charting error, P3

#4527 Fixed compilation error with gcc 14
  src/Train/EzUsb-1.0.c
Labels: platform support error, compile error

#4523 Changed the tab-order in the athlete selector
  src/Core/main.cpp
  src/Gui/ChooseCyclistDialog.cpp
  src/Gui/ChooseCyclistDialog.h
Labels: gui / cosmetic error, P3

#4524 ActivitySidebar: New action "scroll to current"
  src/Gui/AnalysisSidebar.cpp
Labels: gui / workflow request, P3
