Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2024-10, with the labels that each got.

#4550 Respect the Line Width Setting Inside the Workout Editor's Realtime Plot
  src/Train/WorkoutWidgetItems.h
Labels: gui / cosmetic error, P3

#4551 Sort the Dial Window's Combobox by Name
  src/Train/DialWindow.cpp
Labels: gui / workflow request, P3

#4556 Scale Line Width default values
  src/Charts/Aerolab.cpp
  src/Charts/AllPlot.cpp
  src/Charts/CPPlot.cpp
  src/Charts/CriticalPowerWindow.cpp
  src/Charts/LTMPlot.cpp
  src/Charts/PowerHist.cpp
  src/Gui/Pages.cpp
  src/Train/RealtimePlot.cpp
  src/Train/WorkoutWidgetItems.h
Labels: gui / cosmetic error

#4553 Make the Workout Editor's Settings Persistent
  src/Train/WorkoutWindow.cpp
  src/Train/WorkoutWindow.h
Labels: gui / workflow request, P3

#4549 Refactored the placement of items in the ChartSpace
  src/Gui/ChartSpace.cpp
  src/Gui/ChartSpace.h
Labels: gui / cosmetic error, P1

#4543 Semi automatic creation of ranges for power zones
  src/Core/Athlete.cpp
  src/Core/Athlete.h
  src/Core/Settings.h
  src/Core/Units.cpp
  src/Core/Units.h
  src/Gui/AthleteConfigDialog.cpp
  src/Gui/AthletePages.cpp
  src/Gui/AthletePages.h
  src/Gui/StyledItemDelegates.cpp
  src/Gui/StyledItemDelegates.h
  src/Metrics/PaceZones.cpp
  src/Metrics/PaceZones.h
  src/Metrics/Zones.cpp
  src/Metrics/Zones.h
  src/Resources/application.qrc
  unittests/Core/season/season.pro
  unittests/Core/season/testSeason.cpp
  unittests/Core/seasonOffset/seasonOffset.pro
  unittests/Core/seasonOffset/testSeasonOffset.cpp
  unittests/Core/seasonParser/seasonParser.pro
  unittests/Core/seasonParser/seasons.xml
  unittests/Core/seasonParser/testSeasonParser.cpp
  unittests/Core/units/testUnits.cpp
  unittests/Core/units/units.pro
  unittests/unittests.pri.in
  unittests/unittests.pro
Labels: feature request, P1

#4558 Position tile config menu
  src/Charts/Overview.cpp
  src/Charts/Overview.h
  src/Gui/AthleteView.cpp
  src/Gui/AthleteView.h
  src/Gui/ChartSpace.cpp
  src/Gui/ChartSpace.h
Labels: gui / cosmetic error, P3

#4560 Refinement of Semi automatic creation for power zones
  src/Gui/AthletePages.cpp
  src/Gui/AthletePages.h
Labels: crash, gui / cosmetic error

#4561 Zones: Sorting ranges in reverse
  src/Gui/AthletePages.cpp
  src/Gui/AthletePages.h
Labels: gui / workflow request, P3

#4563 Update Spanish translation
  src/Resources/translations/gc_es.ts
Labels: translation

#4564 Infowidget: Made more strings translatable
  src/Resources/translations/gc_cs.ts
  src/Resources/translations/gc_de.ts
  src/Resources/translations/gc_es.ts
  src/Resources/translations/gc_fr.ts
  src/Resources/translations/gc_it.ts
  src/Resources/translations/gc_ja.ts
  src/Resources/translations/gc_nl.ts
  src/Resources/translations/gc_pt-br.ts
  src/Resources/translations/gc_pt.ts
  src/Resources/translations/gc_ru.ts
  src/Resources/translations/gc_sv.ts
  src/Resources/translations/gc_zh-cn.ts
  src/Resources/translations/gc_zh-tw.ts
  src/Train/InfoWidget.cpp
  src/Train/TrainSidebar.cpp
Labels: translation
