Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2024-11, with the labels that each got.

#4565 AutoCP: Proposing new ranges only for younger estimates
  src/Gui/AthletePages.cpp
Labels: gui / cosmetic error

#4566 Update Spanish translation
  src/Resources/translations/gc_es.ts
Labels: translation

#4569 Update Spanish translation
  src/Resources/translations/gc_es.ts
Labels: translation

#4576 "Automated only"-flagging for DataProcessors
  src/Core/DataFilter.cpp
  src/Core/GcUpgrade.cpp
  src/Core/Settings.cpp
  src/Core/Settings.h
  src/FileIO/DataProcessor.cpp
  src/FileIO/DataProcessor.h
  src/FileIO/FilterHRV.cpp
  src/FileIO/FitRideFile.cpp
  src/FileIO/FixAeroPod.cpp
  src/FileIO/FixDeriveDistance.cpp
  src/FileIO/FixDeriveHeadwind.cpp
  src/FileIO/FixDerivePower.cpp
  src/FileIO/FixDeriveTorque.cpp
  src/FileIO/FixElevation.cpp
  src/FileIO/FixFreewheeling.cpp
  src/FileIO/FixGPS.cpp
  src/FileIO/FixGaps.cpp
  src/FileIO/FixHRSpikes.cpp
  src/FileIO/FixLapSwim.cpp
  src/FileIO/FixMoxy.cpp
  src/FileIO/FixPower.cpp
  src/FileIO/FixPyDataProcessor.cpp
  src/FileIO/FixPyDataProcessor.h
  src/FileIO/FixPyScript.h
  src/FileIO/FixPyScriptsDialog.cpp
  src/FileIO/FixPyScriptsDialog.h
  src/FileIO/FixPySettings.cpp
  src/FileIO/FixRunningCadence.cpp
  src/FileIO/FixRunningPower.cpp
  src/FileIO/FixSmO2.cpp
  src/FileIO/FixSpeed.cpp
  src/FileIO/FixSpikes.cpp
  src/FileIO/FixTorque.cpp
  src/FileIO/Snippets.cpp
  src/Gui/BatchProcessingDialog.cpp
  src/Gui/MainWindow.cpp
  src/Gui/MainWindow.h
  src/Gui/Pages.cpp
  src/Gui/Pages.h
  src/Python/SIP/Bindings.cpp
Labels: gui / workflow request, refactoring, P2
