Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2025-03, with the labels that each got.

#4609 Enable RLV for QT6 Video Window
  src/Train/TrainSidebar.cpp
  src/Train/VideoWindow.cpp
  src/Train/VideoWindow.h
Labels: training view, P2, QT6 Refactor

#4626 ActionButtons: Showing +- labels with Qt 6.8.2 (cont.)
  src/Charts/ExhaustionDialog.cpp
  src/Charts/ReferenceLineDialog.cpp
  src/FileIO/XDataDialog.cpp
  src/FileIO/XDataDialog.h
  src/Gui/ActionButtonBox.cpp
  src/Gui/ActionButtonBox.h
  src/Gui/PerspectiveDialog.cpp
  src/Gui/PerspectiveDialog.h
  src/Train/Library.cpp
  src/Train/Library.h
Labels: gui / cosmetic error, platform support error, P3

#4624 Optimize computation/draw of widgets and charts during training workouts, and Fix some train interface issues
  src/Train/LiveMapWebPageWindow.cpp
  src/Train/MeterWidget.cpp
  src/Train/RealtimePlotWindow.cpp
  src/Train/SpinScanPlotWindow.cpp
  src/Train/VideoWindow.cpp
  src/Train/VideoWindow.h
  src/Train/WorkoutPlotWindow.cpp
  src/Train/WorkoutWidget.cpp
Labels: gui / cosmetic error, training view, P3, performance

#4612 Read and write xdata developer fields to FIT files
  src/ANT/ANT.cpp
  src/FileIO/CsvRideFile.cpp
  src/FileIO/FitRideFile.cpp
  src/FileIO/RideFile.cpp
  src/FileIO/RideFile.h
  src/Metrics/RideMetadata.cpp
  test/charts/CoreTemp.gchart
  test/coretemp/FR55-CoreTemp-Walk.fit
  test/coretemp/FR55-loaded-and-saved-via-GC.fit
  test/roundtrip/3386684871-saved.fit
  test/roundtrip/3386684871.fit
  test/roundtrip/Fr955v19.28andStryd-saved.fit
  test/roundtrip/Fr955v19.28andStryd.fit
Labels: file format request, P2

#4628 Use speed data from imported GPX files
  src/FileIO/GpxParser.cpp
  src/FileIO/GpxParser.h
  src/FileIO/GpxRideFile.cpp
Labels: file format request, P3

#4629 More italian translations
  src/Resources/translations/gc_it.ts
Labels: translation
