Repository GoldenCheetah/GoldenCheetah, pull requests merged in 2025-09, with the labels that each got.

#4700 Explicitly converting a QUrl to a QFile
  src/Gui/Pages.cpp
Labels: compile error

#4701 Running speed read from Footpod ANT+ device
  src/ANT/ANTChannel.cpp
  src/ANT/ANTMessage.cpp
  src/Train/DeviceConfiguration.cpp
Labels: device support request, training view, P3

#4704 Added a day view to PlanningCalendarWindow
  src/Charts/PlanningCalendarWindow.cpp
  src/Charts/PlanningCalendarWindow.h
  src/Gui/Calendar.cpp
  src/Gui/Calendar.h
  src/Gui/CalendarData.cpp
  src/Gui/CalendarData.h
  src/Gui/CalendarItemDelegates.cpp
  src/Gui/CalendarItemDelegates.h
  src/Gui/Colors.cpp
  src/Gui/Colors.h
  src/Gui/ManualActivityWizard.cpp
  src/src.pro
  unittests/Gui/calendarData/calendarData.pro
  unittests/Gui/calendarData/testCalendarData.cpp
  unittests/unittests.pro
Labels: P1, Planning

#4698 Display perspective switch expression.
  src/Gui/PerspectiveDialog.cpp
Labels: gui / workflow request, P3

#4706 Athlete Measures on Calendar Day View
  src/Charts/PlanningCalendarWindow.cpp
  src/Gui/Calendar.cpp
  src/Gui/Calendar.h
Labels: gui / workflow request, P2
